name: Build and Release (Dev)

# runs manually and without creating a release
# for testing changes to the main cd.yml workflow
on: [workflow_dispatch]

jobs:
    # This builds and releases for Windows, MacOS, and Linux
    usu-build-release:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                include:
                    - os: ubuntu-latest
                      artifact_name: bx
                      asset_name: bx-linux-amd64
                    - os: macos-latest
                      artifact_name: bx
                      asset_name: bx-macos-amd64
                    - os: windows-latest
                      artifact_name: bx.exe
                      asset_name: bx-windows-amd64
        steps:
            - uses: actions/checkout@v4
            - name: Build
              run: cargo build --release --locked

    # This builds and releases for musl
    musl-build-release:
        runs-on: ubuntu-latest # We cross-compile from Ubuntu
        steps:
            - uses: actions/checkout@v4
            - name: Install musl toolchain
              run: rustup target add x86_64-unknown-linux-musl
            - name: Build
              run: cargo build --release --target x86_64-unknown-linux-musl --locked
